
body {
  font-family: 'Cormorant SC', serif;
  background-image: url(http://res.cloudinary.com/dush6wf6z/image/upload/v1473294108/Seamless-Marble-Textures-2_wgsa00.jpg);
  background-repeat: repeat;
}

.background {
  background-image: url(http://res.cloudinary.com/dush6wf6z/image/upload/v1472768602/antiquity_duq6kr.jpg);
  background-position: center;

}
