body {
  font-family: 'IM Fell Great Primer SC', serif;
  background-image: url(http://res.cloudinary.com/dush6wf6z/image/upload/v1473294225/pea_green_parchment_paper_wallpaper_texture_seamless_nmvar4.jpg);
  background-repeat: repeat;
}

.background {
  background-image: url(http://res.cloudinary.com/dush6wf6z/image/upload/v1473296202/independence_z3strg.jpg);
  background-position: center;

}
