@font-face {
    font-family: renaissance;
    src: url(./renaissance.ttf);
}

body {
    font-family: renaissance;
    background-image: url(http://res.cloudinary.com/dush6wf6z/image/upload/v1473350207/cf3e6b340eeeff48e0649d0b62e7a95f_lsku4x.jpg);
    background-repeat: repeat;
}

.background {
  background-image: url(http://res.cloudinary.com/dush6wf6z/image/upload/v1473296063/Canaletto_Grand_Canal_from_Palazzo_Flangini_-_JPGM_nvosdo.jpg);
}
