body {
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
  background-color: #f1efea;
  color: #27374c;
}

/*Navbar*/

.nav-container {
  position: fixed;
  background-color: white;
  border-bottom: 2px solid #bfcad2;
  min-height: 60px;
  width: 100%;
}

.navbar {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.logo {
  float: left;
  font-size: 24px;
  padding: 15px;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.nav-buttons {
  float: right;
}

.nav-buttons li {
  float: left;
  margin-left: 15px;
  position: relative;
}

.nav-buttons li button {
  padding: 5px 20px;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #afb8c3;
  background-color: white;
}


.nav-buttons li button:hover {
  border: 2px solid #afb8c3;
  padding: 4px 19px;
  background-color: #f2f2f2
}

.nav-buttons li button:active {
  background-color: #afb8c3;
}

.user-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 14px;

  border-radius: 100%;

  float: left;
  position: relative;
}

.arrow {

  position: absolute;
  left: 30px;
  bottom: -10px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.user-icon img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.user-icon img:hover {
  -webkit-filter: brightness(75%);
}

.navbar-dropdown {
  position: absolute;
  border-top: 1px solid #afb8c3;
  border-left: 1px solid #afb8c3;
  border-right: 1px solid #afb8c3;
  background-color: white;
  width: 150px;
  top: 60px;
  right: 0px;
  box-sizing: border-box;
}

.navbar-dropdown li {
  margin: 0;
  border-bottom: 1px solid #afb8c3;
  /*padding: 0;*/
  width: 100%;
  display: block;
}

.navbar-dropdown li a {
  padding: 5px 0 5px 10px;
  display: block;
  width: 100%;
}

.navbar-dropdown li:hover {
  /*border: 1px solid #afb8c3;*/

  /*padding: 4px 19px;*/
  background-color: #f2f2f2;
}

.navbar-dropdown li:active {
  background-color: #afb8c3;
}

.not-popup {
  display: none;
}

.popup {
  display: block;
}

/*Body*/

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-top: 66px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 12px;
}

.block-navbar {
  height: 68px;
}

/*auth*/

.overlay {
  opacity: .25;
  position: fixed;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.auth-form {
  width: 33%;
  min-width: 300px;
  opacity: 1;
  margin: 0 auto;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #aeb5ba;
  border-radius: 5%;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px;
}

.auth {
  padding: 15px;
}

.auth label {
  display: block;
  width: 100%;
  margin: 5px;
}

.auth input {
  display: block;
  width: 100%;
  border: 1px solid #aeb5ba;
  border-radius: 5px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: #929ead;
  background-color: #ecf0f1;
}

.auth input:focus {
  border: 1px solid #287fb8;
}

.cancel {
  float: right;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
}

.auth-button {
  padding: 5px 10px;
  display: block;
  margin: 20px auto;
  border: 1px solid #afb8c3;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  text-align: center;
}

.auth-button:hover {
  border: 2px solid #afb8c3;
  padding: 4px 9px;
  background-color: #f2f2f2
}

.auth-button:active {
  background-color: #afb8c3;
}

/*splash*/

.background {
  background-image: url(/assets/time2.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
}

.header {
  margin: 0 auto;
}

.header h1 {
  text-align: center;
  margin-top: 100px;
}

.header h3 {
  text-align: center;
}

.front-search {
  display: block;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #aeb5ba;
  border-radius: 5px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: #929ead;
  background-color: white;
}

.front-search:focus {
  border: 1px solid #287fb8;
}

/*testimonials */

.testimonials {
  width: 90%;
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
}

.testimonial {
  display: flex;
  width: 100%;
  margin: 20px auto;
  padding: 0;
  align-items: center;
}

.figure {
  width: 70%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.figure-left {
  background-image: url(/assets/rome.jpg);
}

.figure-right {
  background-image: url(/assets/brunner.jpg);
}

.testimonial-caption {
  color: white;
  margin-left: 25%;
  margin-top: 30%;
}

.testimonial-caption h2 {
  font-size: 44px;
}

.testimonial-caption button {
  padding: 5px 10px;
  display: block;
  margin-top: 20px;
  border: 1px solid #afb8c3;
  border-radius: 5px;
  background-color: #287fb8;
  width: 150px;
  text-align: center;
  color: #7BCCB5;
}

.testimonial-caption button:hover {
  border: 2px solid #afb8c3;
  padding: 4px 9px;
  background-color: #2371a3;
}

.testimonial-caption button:active {
  background-color: #7D0552;
}

.testimonial-aside {
  width: 30%;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  height: 600px;
  display: inline-block;
}

.testimonial-aside h5 {
  text-align: center;
}

.testimonial-symbol {
  text-align: center;
  margin: 0 auto;
}

.testimonial-users {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.testimonial-user1 {
  float: left;
}

.testimonial-user2 {
  float: right;
}

.testimonial-user img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.testimonial-location {
  text-align: center;
}

.testimonial-line {
  margin: 20px auto;
  background-color: black;
  width: 80px;
  height: 2px;
}

.testimonial-description {
  text-align: center;
}

/*footer*/

.footer {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 0 0;
  background-color: white;
  font-size: 18px;
}

.footer-list {
  text-align: center;
}

.footer-list li {
  display: inline-block;
  margin: 20px 40px;
}

.footer p {
  text-align: center;
  padding: 50px;
  font-size: 12px;
}

/*other*/

.errors {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.loading {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
