.vertical-container {
  margin: 20px auto;
  width: 100%;
  display: flex;
}

.profile-pic {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  margin-top: 30px;
}

.profile-pic img {
  display: block;
  width: 100%;
  box-shadow: 2px 2px 5px 1px;
  box-sizing: border-box;
}

.edit-pic:hover {
  -webkit-filter: brightness(75%);
  cursor: pointer;
}

.edit-pic {
  border: 2px solid #2371a3;

}

.main-profile {
  width: 65%;
  padding-left: 3%;
}

.profile-header {
  margin: 20px 0;
}

.profile-buttons {
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 10px 1px;
  padding: 20px 10px;
  margin: 10px 0;
}

.profile-buttons h3 {
  flex: 1;
}

.profile-buttons-list {
  display: flex;
}

.profile-button-list li {
  justify-content: flex-end;
}

.profile-button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #afb8c3;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  text-align: center;
}

.profile-button:hover {
  border: 2px solid #afb8c3;
  padding: 4px 9px;
  background-color: #f2f2f2;
}

.profile-button:active {
  background-color: #afb8c3;
}

.profile-info {
  background-color: white;
  box-shadow: 2px 2px 10px 1px;
  padding: 10px;
  margin: 10px 0;
}

.profile-navbar {
  padding: 10px 10px;
  background-color: #bfcad2;
}

.profile-navbar ul {
  display: flex;
  justify-content: space-around;
}

.profile-navbar li {
}

.profile-navbar-links {
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
}

.profile-navbar-links:hover {
  background-color: #2371a3;
  color: white;
}

.profile-navbar-links:active {
  background-color: #7D0552;
  color: white;
}

.inner-info {
  margin: 15px;
}

.data-point {
  margin-bottom: 10px;
}

.about-me {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #bfcad2;
}

/*edit profile*/

.update-form label {
  display: block;
  width: 100%;
  margin: 10px;
  font-weight: bold;
}

.update-form input {
  display: block;
  width: 90%;
  margin: 0;
  border: 1px solid #aeb5ba;
  border-radius: 5px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: #929ead;
  background-color: #ecfof1;
}

.update-form textarea {
  display: block;
  width: 60%;
  border: 1px solid #aeb5ba;
  padding: 5px 8px;
  box-sizing: border-box;
  color: #929ead;
  background-color: #ecfof1;
}

.gender-label {
  display: inline;
  width: auto;
  margin: 0;
}

.friendly-label {
  display: inline;
  width: auto;
  margin: 0;
}

.update-form input[type="date"] {
  width: 40%
}

.update-form input[type="radio"] {
  display: inline;
  width: auto;
  border: 0;
}

.update-form input[type="checkbox"] {
  display: inline;
  width: auto;
  border: 0;
  margin-left: 5px;
}

.update-form input:focus {
  border: 1px solid #287fb8;
}

.update-button {
  padding: 5px 10px;
  display: block;
  margin: 20px auto;
  border: 1px solid #afb8c3;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  text-align: center;
}

.update-button:hover {
  border: 2px solid #afb8c3;
  padding: 4px 9px;
  background-color: #f2f2f2;
}

.update-button:active {
  background-color: #afb8c3;
}

/*request form*/

.request-form {
  width: 20%;
  min-width: 200px;
  opacity: 1;
  margin: 0 auto;
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #aeb5ba;
  border-radius: 5%;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px;
}

.request-form h3 {
  padding: 5px 15px;
}

.request {
  padding: 15px 15px 0 15px;
}

.request-label {
  display: block;
  width: 100%;
  margin: 5px;
}

.request-input {
  display: block;
  width: 100%;
  border: 1px solid #aeb5ba;
  border-radius: 5px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: #929ead;
  background-color: #ecf0f1;
}

.request input:focus {
  border: 1px solid #287fb8;
}

.request-button {
  padding: 5px 10px;
  display: block;
  margin: 30px auto 20px auto;
  border: 1px solid #afb8c3;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  text-align: center;
}

.request-button:hover {
  border: 2px solid #afb8c3;
  padding: 4px 9px;
  background-color: #f2f2f2;
}

.request-button:active {
  background-color: #afb8c3;
}

.request-epoch {
  margin-bottom: 15px;
}

.request-epoch input {
  margin-right: 10px;
}
